{{ > header.handlebars }}

<h6 class="title">Address {{ address }}</h6>
<table class="pure-table">
    <tbody>
        <tr>
            <td>Balance</td>
            <td>{{balance}}</td>
        </tr>
    </tbody>
</table>

{{#if txs}}
<h5 class="title">Transactions ({{ txs_count }})
{{#if has_prev_page}}
<a href="/{{ address }}?p={{prev_page}}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
{{else}}
<i class="fa fa-chevron-circle-left disabled" aria-hidden="true"></i>
{{/if}}
{{#if has_next_page}}
<a href="/{{ address }}?p={{next_page}}"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
{{else}}
<i class="fa fa-chevron-circle-right disabled" aria-hidden="true"></i>
{{/if}}
</h5>
<table class="pure-table">
    <thead>
        <th>Block</th>
        <th>Tx</th>
        <th>Type</th>
        <th>From</th>
        <th>To</th>
        <th>Value</th>
        <th>Data</th>
    </thead>
    <tbody>
        {{#each txs}}
        <tr>
            <td class="text-truncate type-block"><a href={{blockno.link}}>{{blockno.text}}</td>
            <td class="text-truncate type-tx"><a href={{tx.link}}>{{tx.text}}</td>
            <td>{{type}}</td>
            <td class="text-truncate type-addr"><a href={{from.link}}>{{from.text}}</a></td>
            <td class="text-truncate type-addr">{{to_label.link}}<a href={{to_link.link}}>{{to_link.text}}</a></td>
            <td class="text-truncate type-value">{{value.text}}</td>
            <td class="text-truncate type-data">{{shortdata}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}

{{ #if hascode }}

<h5 class="title">Contract</h5>

<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tabSource" aria-controls="source" checked>
  <label for="tabSource">SOURCE</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tabBinary" aria-controls="binary">
  <label for="tabBinary">BINARY</label>
  
  <div class="tab-panels">
    <section id="source" class="tab-panel">


{{ #if can_set_source }}

<script>
function update_solcoptions() {
    const hide = $('#contract_compiler').val() === "abi-only";
    if (hide) {
        $('#solcoptions').hide();
    } else {
        $('#solcoptions').show();
    }
}
$(function() {    
    $('#contract_compiler').change(function(){
        update_solcoptions();
    });
    update_solcoptions();
});
</script>

<form class="pure-form  pure-form-stacked" action="/{{ address }}/contract" method="post">
    <label for="contract_source">Solidity or ABI</label>
    <textarea class="code" name="contract_source" rows="20" cols="105">
{{ contract_source }}</textarea>
    <table>
        <tr>
            <td>
               <label for="contract_compiler">Source type</label>    
            </td>
            <td>
                <select id="contract_compiler" name="contract_compiler">
                    {{#each solcversions}}<option>{{this}}</option>
                    {{/each}}
                </select>
            </td>
            <td>
                <button class="pure-button pure-button-primary">Upload</button>
            </td>
        </tr>
    </table>
    <div id=solcoptions>
        <table>
            <tr>
                <td><label for="contract_name">Contract name</label></td>
                <td><input type="text" name="contract_name"></input></td>
                <td><input type="checkbox" name="contract_optimized"> Optimized</input></td>
            </tr>
        </table>
    </div>
    
</form>

{{ else }}

    Compiler version {{ contract_compiler }}, optimized {{ contract_optimized }}<br>
    Contract name {{ contract_name }}<br>
    <textarea rows="20" cols="100" disabled=true>
{{ contract_source }}</textarea><br>

{{ /if }}


    </section>
    <section id="binary" class="tab-panel">

<textarea class="code" rows="20" cols="105" disabled="true">
{{#each rawcode}}{{this}}
{{/each}}</textarea>

    </section>
  </div>


</div>
{{ /if }}


{{ > footer.handlebars }}