{{ > header.handlebars }}

<h6 class="title">Block #{{ blockno }}</h6>
<table class="pure-table">
    <tbody>
        <tr>
            <td>Parent hash</td>
            <td class=fixed>{{parent_hash}}</td>
        </tr>
        <tr>
            <td>Uncles hash</td>
            <td class=fixed>{{uncles_hash}}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td class=fixed><a href={{author.link}}>{{author.text}}</td>
        </tr>
        <tr>
            <td>State root</td>
            <td class=fixed>{{state_root}}</td>
        </tr>
        <tr>
            <td>Receipts root</td>
            <td class=fixed>{{receipts_root}}</td>
        </tr>
        <tr>
            <td>Gas used</td>
            <td>{{gas_used}}</td>
        </tr>
        <tr>
            <td>Gas limit</td>
            <td>{{gas_limit}}</td>
        </tr>
        <tr>
            <td>Extra data</td>
            <td class=code>{{#each extra_data}}{{this}}<br>
            {{/each}}</td>
        </tr>
        <tr>
            <td>Timestamp</td>
            <td>{{timestamp}}</td>
        </tr>
        <tr>
            <td>Difficulty</td>
            <td>{{difficulty}}</td>
        </tr>
        <tr>
            <td>Total difficulty</td>
            <td>{{total_difficulty}}</td>
        </tr>
    </tbody>
</table>
<h5 class="title">Transactions</h5>
<table class="pure-table">
    <thead>
        <th>Tx</th>
        <th>From</th>
        <th>To</th>
        <th>Value</th>
        <th>Data</th>
    </thead>
    <tbody>
        {{#each txs}}
        <tr>
            <td class="text-truncate type-tx"><a href={{tx.link}}>{{tx.text}}</td>
            <td class="text-truncate type-addr"><a href={{from.link}}>{{from.text}}</a></td>
            <td class="text-truncate type-addr">{{to_label}}<a href={{to_link.link}}>{{to_link.text}}</td>
            <td class="text-truncate type-value">{{value.text}}</td>
            <td class="text-truncate type-data">{{shortdata}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{ > footer.handlebars }}