{{ > header.handlebars }}

<h6 class="title">Address {{ address }}</h6>
<table class="u-full-width">
    <tbody>
        <tr>
            <td>Balance</td>
            <td>{{balance}}</td>
        </tr>
    </tbody>
</table>

<h5 class="title">Transactions ({{ txs_count }})
{{#if has_prev_page}}
<a href="/{{ address }}?p={{prev_page}}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
{{else}}
<i class="fa fa-chevron-circle-left disabled" aria-hidden="true"></i>
{{/if}}
{{#if has_next_page}}
<a href="/{{ address }}?p={{next_page}}"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
{{else}}
<i class="fa fa-chevron-circle-right disabled" aria-hidden="true"></i>
{{/if}}
</h5>
<table>
    <thead>
        <th>Block</th>
        <th>Tx</th>
        <th>From</th>
        <th>To</th>
        <th>Value</th>
        <th>Data</th>
    </thead>
    <tbody>
        {{#each txs}}
        <tr>
            <td><a href={{blockno.link}}>{{blockno.text}}</td>
            <td><a href={{tx.link}}>{{tx.text}}</td>
            <td><a href={{from.link}}>{{from.text}}</a></td>
            <td>{{ #if tonewcontract }}
                New contract
                {{ else }}
                <a href={{to.link}}>{{to.text}}
                    {{ /if }}</td>
            <td>{{value.text}}</td>
            <td>{{shortdata}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{ #if hascode }}
{{ #if hascontract }}

<h5 class="title">Contract source</h5>
    Compiler version {{ contract_compiler }}, optimized {{ contract_optimized }}<br>
    Contract name {{ contract_name }}<br>
    <textarea rows="20" cols="100" disabled=true>
{{ contract_source }}</textarea><br>

<br>

{{ else }}

<h5 class="title">Upload contract source</h5>
<form action="/{{ address }}/contract" method="post">
    <textarea name="contract_source" rows="20" cols="100">
{{ contratsource }}</textarea><br>
    Compiler version <select name="contract_compiler">
        {{#each solcversions}}<option>{{this}}</option>
        {{/each}}
    </select>
    <input type="checkbox" name="contract_optimized"> Optimized</input><br>
    Contract name <input type="text" name="contract_name"></input>
    <button>Upload</button>
</form><br>

{{ /if }}


<h5 class="title">Raw EVM Code</h5>
<textarea rows="20" cols="64" disabled="true">
{{#each rawcode}}{{this}}
{{/each}}</textarea>
{{ /if }}

{{ > footer.handlebars }}