<html>
<style>body {font-family: Courier;}</style>
<body>
Block explorer<br>    
=======================<br>    
<b>balance</b> : {{balance}}<br>
<b>code</b><br>           
{{#each code}}
    &nbsp;&nbsp;{{this}}<br>
{{/each}}
<b>transactions</b><br>
{{#each txs}}
&nbsp;&nbsp;
    <a href={{tx.link}}>{{tx.text}}</a>
    <a href={{from.link}}>{{from.text}}</a>&rarr;
    <a href={{to.link}}>{{to.text}}</a>
    {{shortdata}}</a><br>
{{/each}}

</body>
</html>