{{ > header.handlebars }}

<h6 class="title">
Blocks
{{#if has_prev_page}}
<a href="/?p={{prev_page}}"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
{{else}}
<i class="fa fa-chevron-circle-left disabled" aria-hidden="true"></i>
{{/if}}
{{#if has_next_page}}
<a href="/?p={{next_page}}"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
{{else}}
<i class="fa fa-chevron-circle-right disabled" aria-hidden="true"></i>
{{/if}}
</h6>
<table>
    <thead>
        <th>Block</th>
        <th>Author</th>
        <th>Transactions</th>
        <th>Timedate</th>
        <th>Gas used</th>
        <th>Gas limit</th>
    </thead>
    <tbody>
        {{#each blocks}}
        <tr>
            <td><a href={{block.link}}>{{block.text}}</td>
            <td><a href={{author.link}}>{{author.text}}</td>
            <td>{{tx_count}}</td>
            <td>{{timestamp}}</td>
            <td>{{gas_used}}</td>
            <td>{{gas_limit}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

Next block to index is #{{ last_indexed_block }}

{{ > footer.handlebars }}