{{ > header.handlebars }}

<h6 class="title">Tx {{ txhash }}</h6>
<table class="u-full-width">
    <tbody>
        <tr>
            <td>Status</td>
            <td>{{status}}</td>
        </tr>
        <tr>
            <td>From</td>
            <td><a href={{from.link}}>{{from.text}}</a></td>
        </tr>
        <tr>
            <td>To</td>
            <td>
                {{ #if tonewcontract }}
                New contract
                {{ else }}
                <a href={{to.link}}>{{to.text}}</a>
                {{ /if }}
            </td>
        </tr>
        <tr>
            <td>Value</td>
            <td>{{value}}</td>
        </tr>
        <tr>
            <td>Block</td>
            <td><a href={{block.link}}>{{block.text}}</a></td>
        </tr>
        <tr>
            <td>Gas</td>
            <td>{{gas}}</td>
        </tr>
        <tr>
            <td>Gas price</td>
            <td>{{gas_price}}</td>
        </tr>
        <tr>
            <td>Cumulative gas used</td>
            <td>{{cumulative_gas_used}}</td>
        </tr>
        <tr>
            <td>Gas used</td>
            <td>{{gas_used}}</td>
        </tr>
        <tr>
            <td>Contract created</td>
            <td><a href={{contract_address.link}}>{{contract_address.text}}</a></td>
        </tr>
    </tbody>
</table>

<h5 class="title">Input</h5>
<pre><code>
{{#each input}}{{this}}
{{/each}}
</code></pre>

<h5 class="title">Logs</h5>
{{#each logs}}
&nbsp;&nbsp;- <a href={{address.link}}>{{address.text}}</a>
<pre><code>
{{#each txt}}{{this}}
{{/each}}
</code></pre>
{{/each}}

<h5 class="title">Internal transactions</h5>
<table>
    <thead>
        <th>From</th>
        <th>To</th>
        <th>Value</th>
        <th>Data</th>
    </thead>
    <tbody>
        {{#each itxs}}
        <tr>
            <td><a href={{from.link}}>{{from.text}}</a></td>
            <td><a href={{to.link}}>{{to.text}}</td>
            <td>{{value.text}}</td>
            <td>{{shortdata}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</code>
</pre>


{{ > footer.handlebars }}